.navigation {
    background-color: #35444F;
    margin-top: 40px;

}
.list {
    display: flex;
    justify-content: center;
}
.link {
    color: white;
    text-decoration: none;
}
.main {
    display: flex;
    gap: 52px;
    margin-top: 49px; 
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
}
.wrapper-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    width: 100%;
}
.image {
    justify-content: center;
    align-items: center;
} 
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.main-list {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 344px;

}
.item {
    border-left: 1px solid white;
    padding: 24px 40px 18px;
    font-size: 24px;
}
.item:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
.item:last-child {
    border-right:1px solid white;
}
.color-title {
    color: #4BCAFF;
}
.title {
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;

}
.main-link {
    text-decoration: none;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
}
h1 {
    width: 334px;
    height: 79px;
}
.header {
    flex-direction: column;
    height: 189px;
    margin-top: 63px;
    width: 100%;
}
.main-item {
    display: flex;
    height: 80px;
    padding: 8px 40px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.main-item:hover {
    background-color: #DBDBDB;
    transition: 0.5s;
    padding-left: 80px;
}
.paragraf-1 {
    margin-top: 37px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.paragraf-2 {
    margin-top: 13px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.footer-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-link:hover {
    text-decoration: underline;
    color: #3181A6;
    transition: 0.5s;
    text-underline-offset: 13px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #63696E7A;
    padding: 20px 40px;
    margin-top: 51px;
    margin-bottom: 30px;
    
}
.footer-item {
    text-decoration: none;
}
.footer-link {
    text-decoration: none;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.copyright {
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}
